:host {
    width: 100%;
    display: inline-block;
    position: fixed;
    z-index:10;
    top:0;
  }

  .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    background: rgba(var(--header-colour), 0.9);
    margin:0;
    text-shadow: 1px 1px #ffffffb8;
  }

  .menu:hover {
    background: rgba(var(--header-colour), 1.0);
  }

  a {
    margin: 0 15px;
    color: #000000;
    font-family: var(--font-title);
  }

  a:hover {
    color: #000000;
  }

  @media screen and (max-width: 480px) {

    :host {
      width: 100%;
      display: block;
      position: absolute;
    }
    
    .menu {
      background: #dddddd;
      width: 100%;
      font-size: 24px;
      font-weight: bold;
    }
  }

`