@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Roboto');

:root {
    --background:#fafaff;
    --primary-colour:#ffffff;
    --secondary-colour: #ffffff;

    --scroll: 0px;
    --scroll-bar-colour: #dddddd66;

    --font-colour-title:#111;
    --font-colour:black;
    --font-title:'EB Garamond', serif;
    --font:'Roboto', sans-serif;
}

body {
    background: var(--background);
    margin: 0;
}

menu {
    margin: 0;
}

* {
    color: var(--font-colour);
    font-family: var(--font);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--font-colour-title);
    font-family: var(--font-title);
}

.text-center {
    text-align: center
}

.title {
    text-align: center;
    color:var(--font);
}

.container {
    min-width: 500px;
    max-width: 750px;
    width: 75%;
    margin: auto;
}

@media only screen and (max-width: 600px) {
    .container {
        width: 100%;
        margin: auto;
    }
}