<div class="book">
    <div class="info">
        <img class="book-image" [src]="image">
        <div class="credit">{{credit}}</div>
        <div class="publish">{{publish}}</div>
        <div class="id">{{id}}</div>
    </div>
    <span class="content">
        <div *ngIf="!show">
            {{description}}
            <a class="book-content-toggle" (click)="show=true">Read more...</a>
        </div>
        <ng-content *ngIf="show">    
        </ng-content>
        <a class="book-content-toggle" *ngIf="show" (click)="show=false">... Hide</a>
    </span>
</div>